*{
    padding: 0%;
    margin: 0%;
}

/* 

    ⚡ static - default position (means that position cannot be changed in this even if u set top right z-index etc 
        positions)

    ⚡ relative - element is relative to itself (top , right , z-index will work in this)

    ⚡ absolute - positioned relative to its closest positioned ancestor (removed from the flow)

    ⚡ fixed - positioned relative to the browser (removed from the flow) / (is used for nav bar and footer fix position)

    ⚡ sticky - positioned based on the user's scroll position
 
 */


div{
    height: 100px;
    width: 100px;
    display: inline-block;
}

#box1{
    position: static;
}

#box2{
    position: relative;
    top: 20px;
    left: 10px;
}

#box3{
    position: absolute;
    top: 500px;
    left: 20px;
}

#box4{
    position: sticky;
    top: 0px;
    left: 300px;
}

#box5{
    position: fixed;
    top: 0px;
    left: 500px;
}